<!DOCTYPE html>
<html>

  {% include "template/open.html" %}
  
  <body>
    
    {% block content %}
<!--   This is my content   -->
    {% endblock %}
     
{% include "template/close.html" %}

  </body>
</html> 